config.py
__pycache__/config.cpython-312.pyc
notes.txt
__pycache__/email_manager.cpython-312.pyc
__pycache__/getnow.cpython-312.pyc
__pycache__/groqtools.cpython-312.pyc
__pycache__/tools_for_chaos.cpython-312.pyc
